body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: white;
}

#arena {
    background: url('arena.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start; 
    height: 100vh;
    padding-top: 55vh; 
    padding-left: 55vh;
    padding-right: 55vh;
    text-align: center;
}

#playerHP, #enemyHP {
    margin: 25vb;
    font-size: 5vb;
    text-shadow: 2px 2px red;
}

.character {
    width: 20vw;
    height: auto;
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2vb;
}

.stats {
    margin-top: 2vb;
    align-items: center;
}

.icon {
    width: 6vw;
    height: auto;
    margin-right: 10px;
    margin-top: 2vb;
}

#battleControls button {
    
    margin: 1vb;
    padding: 2vb;
}

#battleControls img {
    width: 7vw;
    height: 6vh;
    display: inline;
}

button {
    font-size: 5vb;
    background-color: #FF6F61;
    text-shadow: 2px 2px black;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    /*margin: auto;*/
    /*display:block; */
}

button:hover {
    background-color: #FF3D2E;
}

#moveRightBtn,
#moveLeftBtn {
    float: left;
    filter: grayscale(10%);
    width: 15vw;
    height: 5ch;
}
