body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: white;
    overflow: hidden;
}

header {
    width: 100vw;
    height: 20vh;
    background-color: black;
}

#arena {
    background: url('arena.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    height: 80vh;
    width: 100%; 
    text-align: center;
    padding: 2vw;
}

#battleControls {
    display: flex;
    justify-content: center; 
    gap: 2vw; 
    margin-bottom: 3vh; 
}

#battleControls button {
    margin: 0.5vw;
    padding: 1vw;
    font-size: 1.5vw;
    background-color: #FF6F61;
    text-shadow: 2px 2px black;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

#battleControls img {
    width: 5vw;
    height: 4vh;
    display: inline;
}

button:hover {
    background-color: #FF3D2E;
}

.characters {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline; 
    width: 100%; 
    margin-top: 23vh; 
}

#player, #enemy {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    width: 12vw; 
    height: 20vh;
}

.character {
    width: 8vw;
    height: auto;
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1vw;
}

.stats {
    margin-top: 1vw;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.icon {
    width: 3vw;
    height: auto;
    margin-right: 1vw;
}

#battleLogContainer {
    width: 100%; 
    margin-bottom: 2vh; 
    display: flex;
    justify-content: center; 
}

#battleLog {
    font-size: 1.5vw; 
    font-weight: bold;
    color: #FFD700; 
    background-color: rgba(0, 0, 0, 0.8); 
    padding: 1vw 2vw; 
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5); 
    text-align: center;
}


#coinTossModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#coinTossContainer {
    background-color: #fff;
    color: black;
    padding: 2vw;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

#coinTossContainer button {
    margin: 1vw;
    padding: 1vw 2vw;
    font-size: 1.5vw;
    background-color: #FF6F61;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

#coinTossContainer button:hover {
    background-color: #FF3D2E;
}




